<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>

 <!--  Template Driven Form -->
<!-- 
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
      <ion-label position="floating" for="username">Username</ion-label>
      <ion-input type="text" name="username" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="password">Password</ion-label>
      <ion-input type="password" name="password" ngModel></ion-input>
    </ion-item>
    <ion-button type="submit" color="primary">Submit</ion-button>
  </form>
</ion-content> -->

<!-- Reactive Form -->

<form [formGroup]="dataForm" (ngSubmit)="login(dataForm)">
  <ion-item>
    <ion-label for="username">Username</ion-label>

    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>

<!--  Validation on 'username' -->
  <div *ngIf="dataForm.get('username').hasError('required') && (dataForm.get('username').dirty || dataForm.get('username').touched )">
    invalid username
  </div> 

  <ion-item>
    <ion-label for="password">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button type="submit" color="primary" [disabled]="!dataForm.valid">Submit</ion-button>
</form>
<p>
  Form Status: {{ dataForm.status }}
</p>
</ion-content>


